@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    background-image: url(seamless-pattern-with-icons-on-the-theme-of-medicine-doodle-with-medicine-icons-on-black-background-vintage-medicine-icons-vector.jpg);
    font-family: monserrat,sans-serif;
    color:aquamarine;
}
h1 { 
    color: aqua;
}
#contenedor {
    width: 900px;
    height: 500px;
    position: absolute;
    inset: 0;
    margin: auto;
    color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 50px;
}
#calculadora{
    background-image: linear-gradient(to right, #000000, rgb(32, 31, 112) );
    width: 50%;
    height: 100%;
    float: left;
}
#detalle {
    background-image: linear-gradient(to right, rgb(37, 31, 112), rgb(0, 0, 0));
    width: 50%;
    height: 100%;
    float: right;
    color: rgb(255, 255, 255);
}
.contenido {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}
#boton { 
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
input{
    border-radius: 10px;
}
.resultado{
    display: none;
}
