@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    background-image: url(seamless-pattern-with-icons-on-the-theme-of-medicine-doodle-with-medicine-icons-on-black-background-vintage-medicine-icons-vector.jpg) ;
    font-family: monserrat,sans-serif;
    color:aquamarine;
}
h1 { 
    color: aqua;
}
#contenedor {
    width: 900px;
    height: 500px;
    position: absolute;
    inset: 0;
    margin: auto;
    color: orange;
    overflow: hidden;
    border-radius: 50px;
}
#calculadora{
    background: rgb(84, 145, 151);
    width: 50%;
    height: 100%;
    float: left;
}
#detalle {
    background: rgb(45, 76, 169);
    width: 50%;
    height: 100%;
    float: left;
    color: orange;
}
.contenido {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}
button { 
    background-color: rgb(25, 34, 128);
    color: aliceblue;
}
input {
    border-radius: 5px;
}